html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
      display:flex;
      justify-content: center;
      background: rgb(116, 116, 236);
      font-family: Roboto;
  }

  .form{

  }

  .form__item{
      display: block;
      width:100%
  }

  .form__submit{
    width: 100%;
    height: 40px;
    color: red;
    background-color: darkgoldenrod;
    font-weight: bolder;
  }